/* START:button */
.button {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 38px;
    font-size: 0.8rem;
    font-weight: var(--fw-semibold);
    background-color: transparent;
    color: var(--dark-blue);
    border: 1px solid var(--primary);
    border-radius: 8px;
}

.button::before{
    content: '';
    position: absolute;
    inset: 6px;
    z-index: -1;
    border-radius: 6px;
}

.button--primary {
    color: var(--white);
}

.button--primary::before {
    background-color: var(--primary);
    color: var(--white);
}

.button:hover::before{
    filter: brightness(80%);
}

@media screen and (min-width: 640px){
    .button {
        height: 54px;
        padding: 0 38px;
        font-size: 1rem;
    }
}
/* END:button */

/* START:header */
.header {
    display: inline;
}
/* END:header */

/* START:navbar */
.navbar {
    padding: var(--sz-3) 0;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(40px);
}

.navbar__brand {
    height: 36px;
    width: 35px;
    object-fit: contain;
}

.navbar__nav {
    display: none;
    column-gap: 1.5rem;
}

.navbar__divider {
    display: none;
}

.navbar__item {
    display: flex;
    align-items: center;
}

.navbar__link {
    font-size: var(--sz-3-5);
    color: var(--gray)
}

.navbar__link:not(.navbar__link--active):hover{
    color: var(--dark-blue);
}

.navbar__link--active {
    color: var(--primary);
    font-weight: var(--fw-bold);
}

.navbar__toggler {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: var(--sz-2);
    background-color: transparent;
    border: none;

}

.navbar__toggler > span {
    display: block;
    height: 3px;
    width: var(--sz-8);
    background-color: var(--primary);
    transform-origin: left;
    transform: skew(45deg);
    transition: 250ms ease-in-out;
}

.navbar__toggler--open > span:nth-child(1){
    transform: rotate(45deg) translate(4px, -4px) skew(45deg);
}

.navbar__toggler--open > span:nth-child(2) {
    opacity: 0;
}

.navbar__toggler--open > span:nth-child(3){
    transform: rotate(-45deg) translate(3px, 4px) skew(45deg);
}

@media screen and (min-width: 520px) {
    .navbar__nav {
        display: flex;
    }

    .navbar__divider {
        display: block;
    }

    .navbar__toggler{
        display: none;
    }

}

@media screen and (max-width: 520px ){
    .navbar--open {
        background-color: var(--white);
    }

    .navbar__nav--open {
        position: fixed;
        height: calc(100vh - 60px);
        top: 60px;
        left: 0;
        right: 0;
        z-index: 9;
        display: flex;
        flex-direction: column;
        row-gap: var(--sz-2);
        background-color: var(--white);
        padding: var(--sz-4);
    }

    .navbar__nav--open .navbar__link {
        width: 100%;
        padding: 0.8rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid var(--soft-gray);
        text-align: center;
    }

    .navbar__nav--open .navbar__item{
        justify-content: center;
    }
}
/* END:navbar */


/* START:hero */
.hero {
    padding: 40px 0 70px;
}

.hero__title {
    font-size: 2rem;
    font-weight: var(--fw-black);
    line-height: 1.2;

    color: var(--dark-blue);
}

.hero__subtitle {
    max-width: 300px;
    font-size: 14px;
    font-weight: var(--fw-light);
    color: var(--gray);
}

@media screen and (min-width: 520px){
    .hero__title {
        font-size: 2.5rem;
    }

    .hero__subtitle {
        max-width: 440px;
        font-size: 18px;
    }
}

@media screen and (min-width: 640px){
    .hero {
        padding: 70px 0;
    }

    .hero__title {
        font-size: 3rem;
        line-height: 1.3;
    }

    .hero__subtitle {
        max-width: 500px;
        font-size: var(--sz-5)
    }
}
/* END:hero */

/* END:about */
.about{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--sz-4);
    align-items: center;

    padding: var(--sz-6);
    border-radius: var(--sz-4);
}

.about__picture > img {
    width: 100%;
    height: 256px;
    object-fit: cover;
    border-radius: var(--sz-2);
}

.bio {
    display: flex;
    flex-direction: column;
    gap: var(--sz-2);
}

.bio__item{
    display: flex;
    align-items: center;
    gap: var(--sz-4);

    /*border: 1px solid var(--soft-gray);*/
    padding: var(--sz-2);
    border-radius: var(--sz-2);
}

.bio__item * {
    font-size: var(--sz-3);
    font-weight: var(--fw-regular);
}

.bio__icon {
    width: var(--sz-8);
    height: var(--sz-8);
    padding: var(--sz-1);
    border: 1px solid var(--primary);
    border-radius: var(--sz-2);
}

@media screen and (min-width: 520px){
    .about{
        gap: var(--sz-8);
        padding: var(--sz-8);
    }

    .bio {
        gap: var(--sz-4);
    }

    .about__picture > img {
        height: 320px;
    }

    .bio__item {
        padding: var(--sz-3);
    }
    .bio__item * {
        font-size: var(--sz-4);
    }

    .bio__icon {
        width: 48px;
        height: 48px;
        padding: var(--sz-2);
        border-radius: var(--sz-2);
    }
}

@media screen and (min-width: 640px){
    .about {
        grid-template-columns: 260px 1fr;
    }

    .about__picture > img {
        height: 256px;
    }
}
/* START:about */

/* START:section */
.section {
    padding-top: 64px;
}

.section__header {
    margin-bottom: var(--sz-5);
}

.section__title {
    font-size: var(--sz-6);
    font-weight: var(--fw-bold);
}

.section__subtitle {
    color: var(--gray);
    font-size: var(--sz-3-5);
    max-width: 280px;
}

@media screen and (min-width: 640px){
    .section__header {
        margin-bottom: var(--sz-8);
    }

    .section__title {
        font-size: var(--sz-8);
    }

    .section__subtitle {
        font-size: var(--sz-4);
        max-width: unset;
    }
}
/* END:section */

/* START:project-article */
.project {
    display: flex;
    align-items: center;
    gap: var(--sz-3);
    padding: var(--sz-2);
    border-radius: var(--sz-2);
    margin-bottom: var(--sz-2);
}
.project:hover {
    border: 1px solid var(--primary);
}

.project__image {
    display: block;
    width: 48px;
    height: 48px;
    object-fit: contain;
    border-radius: var(--sz-2);
    padding: var(--sz-3);
    border: 1px solid var(--soft-gray);
}

.project__heading {
    font-size: var(--sz-3-5);
    line-height: 1.2;
    margin-bottom: var(--sz-1);
}

.project__category {
    color: var(--gray);
    font-weight: var(--fw-light);
    font-size: var(--sz-2-5);
}

@media screen and (min-width: 520px){
    .project {
        gap: var(--sz-4);
        padding: var(--sz-3);
        border-radius: var(--sz-3);
        margin-bottom: var(--sz-3);
    }

    .project__image {
        width: 54px;
        height: 54px;
        border-radius: var(--sz-2);
    }

    .project__heading {
        font-size: var(--sz-4);
    }

    .project__category {
        font-size: var(--sz-3-5);
    }
}

/* END:project-article */

/* START:tag */
.tags {
    display: flex;
    gap: var(--sz-2);
    color: var(--primary);
}

.tags__item {
    color: var(--primary);
    font-size: var(--sz-3);
    list-style: disc;
    margin-left: var(--sz-4);
}

@media screen and (min-width: 520px){
    .tags {
        gap: var(--sz-3);
    }
    .tags__item {
        font-size: var(--sz-3-5);
    }
}

/* END:tag */

/* START:blog-article */
.blog {
    position: relative;
    margin-bottom: var(--sz-5);
}

.blog:hover::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -12px;
    width: var(--sz-1);
    background-color: var(--primary);
}

.blog__heading {
    font-size: var(--sz-4);
}

.blog__summary {
    font-size: var(--sz-3);
    color: var(--gray);
}

.blog__date {
    color: var(--dark-blue);
}

@media screen and (min-width: 520px){

    .blog {
        margin-bottom: var(--sz-8);
    }

    .blog__summary {
        font-size: var(--sz-4);
    }

}

@media screen and (min-width: 640px){
    .blog__heading {
        font-size: var(--sz-5);
    }
}
/* END:blog-article */

/* START:action */
.action {
    padding: var(--sz-8);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sz-6);

    text-align: center;
    border-radius: var(--sz-4);
}

.action__title {
    color: var(--primary);
    font-weight: var(--fw-black);
    font-size: var(--sz-6);
    letter-spacing: 1px;
}

.action__subtitle {
    max-width: 340px;
    color: var(--gray);
    font-size: var(--sz-3-5);

}

@media screen and (min-width: 640px){
    .action__title {
        font-size: var(--sz-8);
    }


    .action__subtitle {
        font-size: var(--sz-4);
    }
}
/* END:action */

/* START:fooer */
.footer > .container {
    padding-top: var(--sz-8);
    padding-bottom: var(--sz-8);
    border-top: 1px solid var(--soft-gray);
    margin-top: 60px;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--sz-4)
}

.footer__copyright {
    color: var(--gray);
    font-size: var(--sz-3-5);
}

.footer__navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    row-gap: var(--sz-4);
}

.footer-nav__link{
    font-size: var(--sz-3-5);
}

@media screen and (min-width: 640px){
    .footer__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
/* END:footer */
